# Игнорирование определенного файла
readme.md

# Игнорирование папок
.vscode/

# Игнорирование всех файлов с определенным расширением 
*.txt


# Игнорирование всех файлов с определенным расширением в определенной папке (logs)
logs/*.txt
